section(class="artistpage")
	div(class = "search" ng-controller="ListController")
		hi Artist Directory
		label Search:
		input(ng-model="query" placeholder="Search for Artists" autofocus)
		label(class="formgroup") by:
			select(ng-model="artistsOrder")
				option(value="name") Name
				option(value="reknown") Reknown
		label(class="formgroup") Ascending
			input(type="radio" ng-model="direction" name = "direction" checked)
		label(class="formgroup") Descending
			input(type="radio" ng-model="direction" name = "direction" value="reverse")
		ul(class="artistlist")
			li(ng-animate=" 'animate' " class="artist cf" ng-repeat="item in artists | filter:query | orderBy: artistsOrder:direction")
				a(href="/details?id={{artists.indexOf(item)}}")
					img(ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}")
					div(class="info")
					h2 {{item.name | uppercase}}
					h3 {{item.reknown}}
			