extends ..\includes\layout
block body
	header
		div(class="container" ng-controller="HomeController")
			a(href="/") {{myVar}} 
			span  |  
			a(href="/names") {{myVar2}}
			span  |  
			a(href="/details") {{myVar3}}
	div(ng-view)