doctype html
html(lang="en" ng-app="appSpace")
	head
		meta(charset="UTF-8")
	title Artists Management System
	link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
	body
		block body
	include scripts